@import '_variables';
@import 'fonts';

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

:root {
  --colors-black: #1F2937;
  --colors-white: #FFFFFF;
  --colors-grey: #BBBBBB;
  --colors-grey200: #E5E7EB;
  --colors-grey500: #6B7280;
  --colors-greysec60: rgba(60, 60, 67, 0.6);

  --colors-system-blue: #007AFF;
  --colors-system-red: #FF3B30;
  --colors-system-green: #72BF44;
  --colors-system-orange: #FF9500;
}

html {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  background-color: var(--colors-white);
  color: var(--colors-black);
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  min-height: -webkit-fill-available; /* следить, чтобы scss-компилятор (f.e. cssnano) не удалял предыдущий min-height */
  zoom: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primaryFont;
  font-weight: 400;
}

.container {
  width: 100%;
  position: relative;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
  @media screen and (min-width: $width-mobile-L) {
    max-width: 576px;
  }
  @media screen and (min-width: $width-tablet-S) {
    max-width: 760px;
  }
  @media screen and (min-width: $width-tablet-L) {
    max-width: 980px;
  }
  @media screen and (min-width: $width-desktop-S) {
    max-width: 1230px;
  }
}

.header {
  flex-shrink: 0;
  height: 60px;
  z-index: $z-header;
}

.main {
  flex: 1 0 auto;
}

.footer {
  height: 60px;
  flex-shrink: 0;
}

.hidden {
  display: none;
}

@import 'fake-phone';
@import 'list-items';
@import "testpage";
