@import '_variables';

.textsandstatus {
  text-align: center;
  margin-bottom: 2em;

  #status {
    margin-top: 0.3em;
    font-size: 2em;
    font-weight: 700;

    &.ticksopen {
      color: green;
    }
  }
}

.showDPod, .showDPercoD {
  display: none;
}

.ticker {
  border: 1px solid red;
  padding: 20px;
  margin-bottom: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  //min-height: 116px;
}

.row-visible {
  display: block;
}
